body {
    // https://coolors.co/011936-465362-9fc490-c0dfa1-5998c5
    background-color: #a7a5c6;
    color: #000000;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
